body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;

}
ul,li,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background-color: #ededed;
}
.circle-menu{
    position: fixed;
    bottom: 1em;
    left: 1em;
    
}
.menu-btn{
    display: block;
    height: 4em;
    width: 4em;
    background-color: rgb(226, 30, 30);
    color: white;
    text-align: center;
    line-height: 4.5;
    border-radius: 50%;
    cursor: pointer;
    z-index: 0;
}
.active .menu-btn{
    background-color: rgba(230 ,87, 87, 66%);
    transform: rotate(45deg);
    transition:transform 0.5s ease ;
}
.menu-btn i{
font-size: 1.6em;
}
.circle-menu::after{
    content: " ";
    position: absolute;
    bottom: 0.1em;
    left: 0;
      display: block;
    height: 4em;
    width: 4em;
    background-color: rgb(206, 57, 57);
    color: white;
    border-radius: 50%;
    cursor: pointer;
    z-index: -2;
}
.active::after{
transform: scale3d(5.5,5.5,1);
transition: transform 1s ease;
}
.circle-menu.active .menu-btn:active{
    background-color: rgb(190, 24, 24);
    box-shadow: 0px 2px 2px 1px #6f5b5b52;
}
.items-wrapper .menu-item{
position: absolute;
bottom:0em;
left:0;
font-size: 1.3em;
width: 3.1em;
height: 3.1em;
border-radius: 50%;
color: white;
text-align: center;
line-height: 3.2;
background-color: rgb(208 89 89 / 86%);
cursor: pointer;
z-index: -1;
transition:transform .8s cubic-bezier(0.22, -0.18, 0.16, 1.34);
}
.active .items-wrapper .menu-item:hover{
background-color: rgb(189, 59, 59);
box-shadow: inset 0px 0px 6px 2px #cece0fcf;
}
.active .items-wrapper .menu-item:first-child{
    transform: translate3d(-0.4em,-6.6em,0);
}
.active .items-wrapper .menu-item:nth-child(2){
    transform: translate3d(3.1em,-5.7em,0);
}
.active .items-wrapper .menu-item:nth-child(3){
    transform: translate3d(5.7em,-3.1em,0);
}
.active .items-wrapper .menu-item:nth-child(4){
    transform: translate3d(6em,0.5em,0);
}
